.Dark{
  background-color: rgb(23, 20, 20);
  height: 100vh;
  width: 100vw;
  color: white;
}
.Light{
  background-color: rgba(235, 235, 244, 0.781);
  color: black;
  height: 100vh;
  width: 100vw;
}